*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
font-family: "Inter", sans-serif;
font-style: normal;
}

html{
  font-size: 62.5%;
}

ol, ul, li {
list-style: none;
}

footer{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background: #3B4E68;
min-width: 100vh;
min-height: 56.6vh;
}

footer .box1{
display: flex;
justify-content: space-around;
align-items: start;
height:24rem ;
width: 120rem;
}

footer .box1 .sub{
display: flex;
justify-self: start;
align-items: start;
flex-direction: column;
width: 28rem;
height: 20rem;
}

footer .box1 .sub2{
height: 25rem;
}

footer .box1 .sub h1{
font-size: 2.4rem;
color: #FEFFFF;
}

footer .box1 .sub p{
font-size: 1.4rem;
line-height: 3;
color: #FEFFFF;
}

footer .box1 .sub a{
font-size: 1.4rem;
color: #FEFFFF;
text-decoration: none;
line-height: 2;
}

footer .box2{
display: flex;
justify-content: space-between;
align-items: center;
border-top: 0.1rem solid #b7c6db;
width: 120rem;
height: 5rem;
}

footer .box2 p{
font-size: 1rem;
color: #FEFFFF;
}

footer .box2 .set1 {
display: flex;
justify-content: start;
align-items: center;
width: 30rem;
height: 3rem;
}

footer .box2 .set2 {
display: flex;
justify-content: end;
align-items: center;
width: 30rem;
height: 3rem;
}
