*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
font-family: "Inter", sans-serif;
font-style: normal;
}

html{
  font-size: 62.5%;
}

ol, ul, li {
list-style: none;
}

footer{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background: #3B4E68;
min-width: 100vh;
min-height: 56.6vh;
}

footer .box1{
display: flex;
justify-content: space-around;
align-items: start;
height:25rem ;
width: 120rem;
border: 1px solid red;
}

footer .box1 .sub{
display: flex;
justify-self: start;
align-items: start;
flex-direction: column;
width: 28rem;
height: 20rem;
border: 1px solid red;
}

footer .box1 .sub2{
height: 25rem;
}

footer .box1 .sub h1{
font-size: 2.4rem;
color: #FEFFFF;
}

footer .box1 .sub a{
font-size: 1.4rem;
color: #FEFFFF;
}
footer .box2{
width: 120rem;
height: 5rem;
border: 1px solid red;
}