* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

html {
  font-size: 62.5%;
}

ol,
ul,
li {
  list-style: none;
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background: #3b4e68;
  width: 100vw;
  min-height: 56.6vh;
}

footer .box1 {
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-wrap: wrap;
  height: 24rem;
  width: 120rem;
}

footer .box1 .sub {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  flex-direction: column;
  width: 28rem;
  height: 20rem;
}

footer .box1 .sub2 {
  height: 25rem;
}

footer .box1 .sub h1 {
  font-size: 2.4rem;
  color: #feffff;
}

footer .box1 .sub p {
  font-size: 1.4rem;
  line-height: 3;
  color: #feffff;
}

footer .box1 .sub a {
  font-size: 1.4rem;
  color: #feffff;
  text-decoration: none;
  line-height: 2;
}

footer .box1 .sub a:hover {
  color: #2e86f2;
  transition: 0.5s ease;
}

footer .box1 .sub1 img {
  width: 25rem;
}

footer .box1 .sob img:hover {
  background-color: #2e86f2;
  border-radius: 5rem;
  transition: 0.5s ease;
}

footer .box2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.1rem solid #b7c6db;
  width: 120rem;
  height: 4rem;
}

footer .box2 p {
  font-size: 1rem;
  color: #feffffb2;
}

footer .box2 .set1 {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 30rem;
  height: 3rem;
}

footer .box2 .set2 {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 30rem;
  height: 3rem;
}

@media (max-width: 768px) {
  footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background: #3b4e68;
    width: 100vw;
    height: 80vh;
  }

  footer .box1 {
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
    height: 53.6rem;
    width: 100%;
  }

  footer .box1 .sub {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    width: 23rem;
    height: 28rem;
  }

  footer .box1 .sub1 {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 64rem;
    height: 24rem;
  }
  footer .box1 .sub2 {
    height: 28rem;
  }

  footer .box1 .sub4 {
    height: 20rem;
  }

  footer .box1 .sub h1 {
    font-size: 2.8rem;
    color: #feffff;
  }

  footer .box1 .sub p {
    font-size: 1.6rem;
    line-height: 2.4;
    color: #feffff;
  }

  footer .box1 .sub a {
    font-size: 1.6rem;
    color: #feffff;
    text-decoration: none;
    line-height: 1.6;
  }

  footer .box1 .sub a:hover {
    color: #2e86f2;
    transition: 0.5s ease;
  }

  footer .box1 .sub1 img {
    width: 32rem;
  }

  footer .box1 .sob img:hover {
    background-color: #2e86f2;
    transition: 0.5s ease;
    border-radius: 4rem;
  }

  footer .box2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 0.1rem solid #b7c6db;
    width: 100%;
    height: 4rem;
  }

  footer .box2 p {
    font-size: 1.2rem;
    color: #feffffb2;
  }

  footer .box2 .set1 {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 32rem;
    height: 2.4rem;
  }

  footer .box2 .set2 {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 24rem;
    height: 2.4rem;
  }
}

@media (max-width: 650px) {
  footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background: #3b4e68;
    width: 100vw;
    height: 190vh;
  }

  footer .box1 {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 160rem;
    width: 100%;
  }

  footer .box1 .sub {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 20rem;
  }

  footer .box1 .sub1 {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50rem;
    height: 25rem;
  }

  footer .box1 .sub2 {
    height: 70rem;
  }

  footer .box1 .sub4 {
    height: 40rem;
  }

  footer .box1 .sub h1 {
    font-size: 3.5rem;
    color: #feffff;
  }

  footer .box1 .sub p {
    font-size: 2.5rem;
    line-height: 3;
    color: #feffff;
  }

  footer .box1 .sub a {
    font-size: 2.5rem;
    color: #feffff;
    text-decoration: none;
    line-height: 2.5;
    text-align: center;
  }

  footer .box1 .sub a:hover {
    color: #2e86f2;
    transition: 0.5s ease;
  }

  footer .box1 .sub1 img {
    width: 40rem;
  }

  footer .box1 .sob img:hover {
    background-color: #2e86f2;
    border-radius: 5rem;
    transition: 0.5s ease;
  }

  footer .box1 .sob {
    text-align: center;
  }

  footer .box2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-top: 0.1rem solid #b7c6db;
    width: 40rem;
    height: 10rem;
  }

  footer .box2 p {
    font-size: 1.5rem;
    color: #feffffb2;
  }

  footer .box2 .set1 {
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: center;
    width: 25rem;
    height: 5rem;
  }

  footer .box2 .set2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 25rem;
    height: 3rem;
  }
}

@media (max-width: 450px) {
  footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background: #3b4e68;
    width: 100vw;
    height: 210vh;
  }

  footer .box1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 160rem;
    width: 100%;
  }

  footer .box1 .sub {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 20rem;
  }

  footer .box1 .sub1 {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 2rem;
    height: 10rem;
  }

  footer .box1 .sub1 img {
    width: 30rem;
  }

  footer .box1 .sub2 {
    height: 60rem;
  }

  footer .box1 .sub4 {
    height: 40rem;
  }

  footer .box1 .sub h1 {
    font-size: 3.5rem;
    color: #feffff;
  }

  footer .box1 .sub p {
    font-size: 2.2rem;
    line-height: 3;
    color: #feffff;
  }

  footer .box1 .sub a {
    font-size: 2.2rem;
    color: #feffff;
    text-decoration: none;
    line-height: 2.5;
    text-align: center;
  }

  footer .box1 .sub a:hover {
    color: #2e86f2;
    transition: 0.5s ease;
  }

  footer .box1 .sob img:hover {
    background-color: #2e86f2;
    border-radius: 5rem;
    transition: 0.5s ease;
  }

  footer .box1 .sob {
    text-align: center;
  }

  footer .box2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-top: 0.1rem solid #b7c6db;
    width: 100%;
    height: 10rem;
  }

  footer .box2 p {
    font-size: 1.5rem;
    color: #feffffb2;
  }

  footer .box2 .set1 {
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: center;
    width: 25rem;
    height: 5rem;
  }

  footer .box2 .set2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 25rem;
    height: 3rem;
  }
}
