* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}
/*---------------------------------------------------------- Header-Style-------------------------------------------------------------- */

.logoContainer {
  padding: 2rem 0 2rem 5rem;
  width: 34rem;
}

.logoContainer img {
  width: 100%;
}

.contactContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  padding: 0 7rem;
  background-color: #3b4e68;
}

.numberContainer {
  display: flex;
  justify-content: space-between;
  width: 12rem;
}

.numberContainer p {
  color: #ffffff;
  font-size: 1rem;
}

#search {
  width: 15rem;
  height: 1.8rem;
  padding-left: 3.5rem;
  border-radius: 1rem;
  border: none;
  background-image: url("Public/Assets/Icons/search.svg");
  background-repeat: no-repeat;
  background-position: 1.5rem 0.4rem;
  font-size: 1rem;
}

header > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  height: 3rem;
  padding: 0 8rem;
}

header > ul li {
  list-style: none;
  font-size: 0.9rem;
  font-weight: 480;
}
header > ul li a {
  text-decoration: none;
  color: #0a0a0a;
}
