* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
}

ul,
ol,
li {
  list-style: none;
}
/*---------------------------------------------------------- Header-Style-------------------------------------------------------------- */

.logoContainer {
  padding: 2.5rem 0 2.5rem 8rem;
  width: 60rem;
}

.logoContainer img {
  width: 100%;
}
.subheaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  background-color: #3b4e68;
}

.menuContainer {
  display: none;
}

.material-symbols-outlined {
  color: #ffffff;
  font-size: 4rem !important;
}

.contactContainer {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.numberContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 19rem;
}

.numberContainer p {
  color: #ffffff;
  font-size: 1.6rem;
}

/* ----------search-------------------- */
.dropbtn1 {
  background-color: #ffffff;
  border-radius:2rem;
  width:20rem;
  color: #00000080;
  padding: 1rem;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}

.dropbtn1:hover {
background-color: #ffffff;
}

#myInput {
  box-sizing: border-box;
  font-size: 1.6rem;
  padding:1rem 2rem;
  border: none;
  font-family: "Inter", sans-serif;
  border-bottom: 0.3rem solid #ddd;
}

#myInput:focus {
outline: 3px solid #ddd;
}

#myInput{
width:280px;
}

.dropdown1 {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 28rem;
  overflow: auto;
  margin: 1rem;
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  border-radius:1rem;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 1.2rem 1.6rem;
  text-decoration: none;
  display: block;
}

.dropdown1 a:hover {background-color: #ddd;}

.show {display: block;}

header > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 6rem;
  padding: 0 8rem;
}

header > ul li {
  font-size: 1.6rem;
  font-weight: 480;
}

header > ul li a {
  text-decoration: none;
  color: #0a0a0a;
  padding: 1.9rem 1rem;
  transition: 0.5s ease;
}

header > ul li a:hover {
  color: #1590ff;
}

.fa-solid {
  padding-left: 0.8rem;
}

.login {
  padding: 1rem;
  border-radius: 2.5rem 6rem;
  color: #ffffff;
  background-color: #1590ff;
  font-size: 1.4rem;
}

.login:hover {
  background-color: #ffffff;
  color: #1590ff;
  font-weight: bold;
}

.header-dropdown {
  position: relative;
  display: inline-block;
}

.header-dropdown-content {
  position: absolute;
  display: none;
  top: 3.9rem;
  left: -1rem;
  width: 28rem;
  background-color: #ffffff;
  z-index: 1;
}

.header-dropdown-content a {
  display: block;
  padding: 1rem;
  border: 1px solid rgb(230, 230, 230);
}

.header-dropdown-content a:hover {
  padding-left: 3rem;
  border-bottom: 1.2px solid #1590ff;
}

.header-dropdown:hover .header-dropdown-content {
  display: block;
}

/*---------------------------------------------------------- Tablet-Screen-Style-------------------------------------------------------------- */
@media (max-width: 768px) {
  .logoContainer {
    padding: 2rem;
    width: 85vw;
  }

  .subheaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    background-color: #3b4e68;
  }

  .menuContainer {
    display: block;
  }

  .material-symbols-outlined {
    color: #ffffff;
  }

  .contactContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 64%;
    margin-left: 14rem;
  }

  .numberContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20rem;
    height: 3rem;
  }

  .numberContainer img {
    width: 1.8rem;
  }

  .numberContainer p {
    color: #ffffff;
    font-size: 1.8rem;
  }

 /* ----------search-------------------- */
.dropbtn1 {
  background-color: #ffffff;
  border-radius:2rem;
  width:20rem;
  color: #00000080;
  padding: 1rem;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}

.dropbtn1:hover {
background-color: #ffffff;
}

#myInput {
  box-sizing: border-box;
  font-size: 1.6rem;
  padding:1rem 2rem;
  border: none;
  font-family: "Inter", sans-serif;
  border-bottom: 0.3rem solid #ddd;
}

#myInput:focus {
outline: 3px solid #ddd;
}

#myInput{
width:24rem;
}

.dropdown1 {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 24rem;
  overflow: auto;
  margin: 1rem;
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  border-radius:1rem;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 1.2rem 1.6rem;
  text-decoration: none;
  display: block;
}

.dropdown1 a:hover {background-color: #ddd;}

.show {display: block;}


  header > ul {
    display: none;
  }
}

/*---------------------------------------------------------- Mobile-Screen-Style-- ------------------------------------------------------------- */

@media (max-width: 650px) {
  .logoContainer {
    padding: 2rem;
    width: 85vw;
  }

  .subheaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    background-color: #3b4e68;
  }

  .menuContainer {
    display: block;
  }

  .material-symbols-outlined {
    color: #ffffff;
  }

  .contactContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 68%;
    margin-left: 8rem;
  }

  .numberContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 18rem;
    height: 3rem;
  }

  .numberContainer img {
    width: 1.7rem;
  }

  .numberContainer p {
    color: #ffffff;
    font-size: 1.6rem;
  }

 /* ----------search-------------------- */
.dropbtn1 {
  background-color: #ffffff;
  border-radius:2rem;
  width:20rem;
  color: #00000080;
  padding: 1rem;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}

.dropbtn1:hover {
background-color: #ffffff;
}

#myInput {
  box-sizing: border-box;
  font-size: 1.6rem;
  padding:1rem 2rem;
  border: none;
  font-family: "Inter", sans-serif;
  border-bottom: 0.3rem solid #ddd;
}

#myInput:focus {
outline: 3px solid #ddd;
}

#myInput{
width:20rem;
}

.dropdown1 {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 20rem;
  overflow: auto;
  margin: 1rem;
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  border-radius:1rem;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 1.2rem 1.6rem;
  text-decoration: none;
  display: block;
}

.dropdown1 a:hover {background-color: #ddd;}

.show {display: block;}


  header > ul {
    display: none;
  }
}

@media (max-width: 550px) {
  .logoContainer {
    padding: 2rem;
    width: 85vw;
  }

  .subheaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    background-color: #3b4e68;
  }

  .menuContainer {
    display: block;
  }

  .material-symbols-outlined {
    color: #ffffff;
  }

  .contactContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    margin-left: 12rem;
  }

  .numberContainer {
    display: none;
  }

  .numberContainer img {
    width: 1.7rem;
  }

  .numberContainer p {
    color: #ffffff;
    font-size: 1.6rem;
  }

  #search {
    width: 23rem;
    height: 3rem;
    padding-left: 6rem;
    border-radius: 2rem;
    border: none;
    background-image: url("Public/Assets/Icons/search.svg");
    background-repeat: no-repeat;
    background-position: 1.5rem 0.7rem;
    background-size: 1.5rem;
    font-size: 1.4rem;
  }

  header > ul {
    display: none;
  }
}

@media (max-width: 450px) {
  .logoContainer {
    padding: 2rem;
    width: 85vw;
  }

  .subheaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    background-color: #3b4e68;
  }

  .menuContainer {
    display: block;
  }

  .material-symbols-outlined {
    color: #ffffff;
  }

  .contactContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-left: 5rem;
  }

  .numberContainer {
    display: none;
  }

  .numberContainer img {
    width: 1.7rem;
  }

  .numberContainer p {
    color: #ffffff;
    font-size: 1.6rem;
  }

  /* ----------search-------------------- */
.dropbtn1 {
  background-color: #ffffff;
  border-radius:2rem;
  width:20rem;
  color: #00000080;
  padding: 1rem;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}

.dropbtn1:hover {
background-color: #ffffff;
}

#myInput {
  box-sizing: border-box;
  font-size: 1.6rem;
  padding:1rem 2rem;
  border: none;
  font-family: "Inter", sans-serif;
  border-bottom: 0.3rem solid #ddd;
}

#myInput:focus {
outline: 3px solid #ddd;
}

#myInput{
width:280px;
}

.dropdown1 {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 28rem;
  overflow: auto;
  margin: 1rem;
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  border-radius:1rem;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 1.2rem 1.6rem;
  text-decoration: none;
  display: block;
}

.dropdown1 a:hover {background-color: #ddd;}

.show {display: block;}


  header > ul {
    display: none;
  }
}

@media (max-width: 350px) {
  .logoContainer {
    padding: 2rem;
    width: 85vw;
  }

  .subheaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    background-color: #3b4e68;
  }

  .menuContainer {
    display: block;
  }

  .material-symbols-outlined {
    color: #ffffff;
  }

  .contactContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-left: 4rem;
  }

  .numberContainer {
    display: none;
  }

  .numberContainer img {
    width: 1.7rem;
  }

  .numberContainer p {
    color: #ffffff;
    font-size: 1.6rem;
  }

  /* ----------search-------------------- */
.dropbtn1 {
  background-color: #ffffff;
  border-radius:2rem;
  width:20rem;
  color: #00000080;
  padding: 1rem;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}

.dropbtn1:hover {
background-color: #ffffff;
}

#myInput {
  box-sizing: border-box;
  font-size: 1.6rem;
  padding:1rem 2rem;
  border: none;
  font-family: "Inter", sans-serif;
  border-bottom: 0.3rem solid #ddd;
}

#myInput:focus {
outline: 3px solid #ddd;
}

#myInput{
width:20rem;
}

.dropdown1 {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 10rem;
  overflow: auto;
  margin: 1rem;
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  border-radius:1rem;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 1.2rem 1.6rem;
  text-decoration: none;
  display: block;
}

.dropdown1 a:hover {background-color: #ddd;}

.show {display: block;}


  header > ul {
    display: none;
  }
}
